<h2>Canvas</h2>

<Fabric::Canvas as |canvas|>
  <Fabric::Circle @canvas={{canvas}} @radius={{20}} @fill="green" @left={{100}} @top={{100}} />
  <Fabric::Triangle @canvas={{canvas}} @width={{20}} @height={{30}} @fill="blue" @left={{50}} @top={{50}} />
  <Fabric::Rect @canvas={{canvas}} @width={{10}} @height={{25}} @fill="orange" @left={{10}} @top={{20}} />
  <Fabric::Ellipse @canvas={{canvas}} @fill="orange" @height={{50}} @width={{70}} />
  <Fabric::Path @canvas={{canvas}} @path="M 0 0 L 300 100 L 200 300 z" @fill="red" @stroke="green" @opacity="0.5" />
  <Fabric::Ellipse @canvas={{canvas}} @fill="orange" @rx={{10}} @ry={{50}} @left={{100}} />
</Fabric::Canvas>

<h2>Static Canvas</h2>

<Fabric::StaticCanvas as |canvas|>
  <Fabric::Circle @canvas={{canvas}} @radius={{20}} @fill="green" @left={{100}} @top={{100}} />
  <Fabric::Triangle @canvas={{canvas}} @width={{20}} @height={{30}} @fill="blue" @left={{50}} @top={{50}} />
  <Fabric::Rect @canvas={{canvas}} @width={{10}} @height={{25}} @fill="orange" @left={{10}} @top={{20}} />
  <Fabric::Path @canvas={{canvas}} @path="M 0 0 L 300 100 L 200 300 z" @fill="red" @stroke="green" @opacity="0.5" />
  <Fabric::Ellipse @canvas={{canvas}} @fill="orange" @rx={{10}} @ry={{50}} @left={{100}} />
</Fabric::StaticCanvas>