<h2>Canvas</h2>

<Fabric::Canvas as |canvas|>
  <Fabric::Circle @canvas={{canvas}} @radius={{20}} @fill="green" @left={{100}} @top={{100}} />
  <Fabric::Triangle @canvas={{canvas}} @width={{20}} @height={{30}} @fill="blue" @left={{50}} @top={{50}} />
  <Fabric::Rect @canvas={{canvas}} @width={{10}} @height={{25}} @fill="orange" @left={{10}} @top={{20}} />
  <Fabric::Ellipse @canvas={{canvas}} @fill="orange" @height={{50}} @width={{70}} />
  <Fabric::Path @canvas={{canvas}} @path="M 0 0 L 300 100 L 200 300 z" @fill="red" @stroke="green" @opacity="0.5" />
  <Fabric::Ellipse @canvas={{canvas}} @fill="orange" @rx={{10}} @ry={{50}} @left={{100}} />
  <Fabric::Line @canvas={{canvas}} @fill="purple" @stroke="purple" @x1={{0}} @y1={{0}} @x2={{15}} @y2={{100}} @strokeWidth={{5}} />
  <Fabric::Polygon @canvas={{canvas}} @fill="brown" @points={{array (hash x=200 y=10) (hash x=250 y=50) (hash x=250 y=180) (hash x=150 y=180) (hash x=150 y=50)}} />
  <Fabric::Polyline @canvas={{canvas}} @fill="black" @points={{array (hash x=0 y=10) (hash x=0 y=50) (hash x=0 y=180) (hash x=150 y=180) (hash x=150 y=50)}} />
</Fabric::Canvas>

<h2>Static Canvas</h2>

<Fabric::StaticCanvas as |canvas|>
  <Fabric::Circle @canvas={{canvas}} @radius={{20}} @fill="green" @left={{100}} @top={{100}} />
  <Fabric::Triangle @canvas={{canvas}} @width={{20}} @height={{30}} @fill="blue" @left={{50}} @top={{50}} />
  <Fabric::Rect @canvas={{canvas}} @width={{10}} @height={{25}} @fill="orange" @left={{10}} @top={{20}} />
  <Fabric::Path @canvas={{canvas}} @path="M 0 0 L 300 100 L 200 300 z" @fill="red" @stroke="green" @opacity="0.5" />
  <Fabric::Ellipse @canvas={{canvas}} @fill="orange" @rx={{10}} @ry={{50}} @left={{100}} />
  <Fabric::Line @canvas={{canvas}} @fill="purple" @stroke="purple" @x1={{0}} @y1={{0}} @x2={{15}} @y2={{100}} @strokeWidth={{5}} />
  <Fabric::Polygon @canvas={{canvas}} @fill="brown" @points={{array (hash x=200 y=10) (hash x=250 y=50) (hash x=250 y=180) (hash x=150 y=180) (hash x=150 y=50)}} />
  <Fabric::Polyline @canvas={{canvas}} @fill="black" @points={{array (hash x=0 y=10) (hash x=0 y=50) (hash x=0 y=180) (hash x=150 y=180) (hash x=150 y=50)}} />
</Fabric::StaticCanvas>

<h2>Group</h2>

<Fabric::Canvas as |canvas|>
  <Fabric::Group @canvas={{canvas}} as |group|>
    <Fabric::Circle @canvas={{group}} @radius={{20}} @fill="green" @left={{100}} @top={{100}} />
    <Fabric::Triangle @canvas={{group}} @width={{20}} @height={{30}} @fill="blue" @left={{50}} @top={{50}} />
    <Fabric::Text @canvas={{group}} @text="Hello, World!" @left={{20}} />
  </Fabric::Group>
</Fabric::Canvas>

<h2>Images</h2>

<Fabric::Canvas as |canvas|>
  <Fabric::Image @canvas={{canvas}} src="https://picsum.photos/200" @left={{0}} @top={{0}} @height={{200}} @width={{200}} />
</Fabric::Canvas>